.contents {
	text-align: center;
	background-color: #21af58;
	border: solid #2d3047;
	border-width: 1.25em;
}

input {
	border: solid;
	height: 3em;
	width: 20em;
	margin-bottom: .25em;
}

.pagetext {
	font-size: 250%;
	margin-bottom: .75em;
	margin: .5em;
	color: #e8e288;
	font-weight: bold;
}

button {
	margin-top: 3em;
	background-color: #e8e288;
	border: solid #2d3047;
	height: 3em;
	width: 8em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 2em;
}

.shelf-title-container {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
}

.shelf-title {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	background-color: #e8e288;
	border: solid #2d3047;
	border-width: .3em;
	border-bottom: none;
	color: #08415c;
}

.shelf-container {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
	grid-auto-rows: 20em;
}

#shelf {
	background-color: #21af58;
	border: solid #2d3047;
	border-width: 1em;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.page {
	border-radius: 5%;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.page: hover{
	opacity: .75;
	margin-left: 5px;
	margin-right: 5px;
}

.small {
	height: 10em;
	width: 3em;
	margin-top: 7.75em;
}

.medium {
	height: 14em;
	width: 3em;
	margin-top: 3.65em;
}

.large {
	height: 17.75em;
	width: 3em;
}

.page h3{
	margin-left: 1.25em;
	transform: rotate (90deg);
	transform-origin: left top 0;
}

.green {
	background-color: #7dce82;
	border: solid black;
}

.blue {
	background-color: #3cdbd3;
	border: solid black;
}

.orange {
	background-color: #ff8360;
	border: solid black;
}

.yellow {
	background-color: #e8e288;
	border: solid black;
}